.footer {
  background-color: #f8f9fa;
  border-top: 1px solid #e1e4e8;
  padding: 12px 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  text-align: center;
  color: #333;
  border-radius: 10px;
  
}

.footer-top {
  font-weight: 500;
  margin-bottom: 5px;
}

.footer-bottom a {
  margin: 0 10px;
  text-decoration: none;
  color: #007bff;
  transition: color 0.3s ease;
  font-weight: 500;
}

.footer-bottom a:hover {
  color: #0056b3;
  text-decoration: underline;
}
